{% extends 'index.html' %}

{% block charts %}
    <div>
        <span>Intensity By Regions</span>
        <svg id="chart2"></svg>
    </div>
    <div>
        <span>Likelihood By Regions</span>
        <svg id="chart8"></svg>
    </div>
    <div>
        <span>Relevance By Regions</span>
        <svg id="chart9"></svg>
    </div>
    <div>
        <span>Intensity By Countries</span>
        <svg id="chart10"></svg>
    </div>
    <div>
        <span>Likelihood By Countries</span>
        <svg id="chart11"></svg>
    </div>
    <div>
        <span>Relevance By Countries</span>
        <svg id="chart12"></svg>
    </div>
    <svg id="chart4"></svg>
{% endblock %}