{% extends 'index.html' %}

{% block charts %}
    <div class="text-center border">
        <h5>Intensity By Regions</h5>
        <svg id="chart2"></svg>
    </div>
    <div class="text-center border">
        <h5>Likelihood By Regions</h5>
        <svg id="chart8"></svg>
    </div>
    <div class="text-center border">
        <h5>Relevance By Regions</h5>
        <svg id="chart9"></svg>
    </div>
    <div class="text-center border">
        <h5>Intensity By Countries</h5>
        <svg id="chart10"></svg>
    </div>
    <div class="text-center border">
        <h5>Likelihood By Countries</h5>
        <svg id="chart11"></svg>
    </div>
    <div class="text-center border">
        <h5>Relevance By Countries</h5>
        <svg id="chart12"></svg>
    </div>
    <!-- <svg id="chart4"></svg> -->
{% endblock %}